# === Común / Common ===
.env
*.env
*.key
*.pem
*.p12
*.cer
*.crt
*.der
*.log
.DS_Store
Thumbs.db

# === Node.js ===
node_modules/
npm-debug.log*
yarn-error.log*
pnpm-lock.yaml
dist/
build/
.cache/
.next/
out/
coverage/

# === Python ===
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
*.egg
.venv/
venv/
env/
.ipynb_checkpoints/
.pytype/
.mypy_cache/
.coverage
htmlcov/

# === Java ===
target/
*.class
.gradle/
build/

# === Frontend bundlers ===
*.map
.tmp/

# backups y carpeta suelta
*.bak
Gastos-Compartidos-ARS-/
